<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Projects</th>
        <th>Resources</th>
        <th ng-repeat="cw in calendarweeks">{{cw.code}} <br /> <span class="label label-success">{{cw.startDate}}</span> - <span class="label label-danger">{{cw.endDate}}</span></th>
      </tr>
    </thead>
    <tbody ng-repeat="customer in customers">
       <tr ng-repeat-start="project in customer.projects">
            <td>{{customer.name}}</td>
            <td>{{project.name}}</td>
            <td></td>
            <td ng-repeat="cw in calendarweeks"></td>
       </tr>
       <tr ng-repeat-end ng-repeat="allocation in project.allocations" ng-init='weekAllocations=getResourceWeekAllocations(allocation)'>
            <td></td>
            <td></td>
            <td>{{allocation.resource.name}}</td>
            <td ng-repeat="rwa in weekAllocations">{{rwa.plannedMD}}</td>
        </tr>
      </tbody>
      </tbody>
  </table>